:root {
  --accent-color: #9fb7ce;
  --secondary-color: #bfd6ea;
  --hover-color: #afc7dc;
  --background-color: #eeeeee;
  --black-color: #121417;
  --green-color: #38cd3e;
  --white-color: #fff;
  --lightgray-color: #f8f8f8;
  --gray-color: #b7b7b2;
  --theme-image: url('../src/images/blue.png');
}
.theme-yellow {
  --accent-color: #f4c550;
  --secondary-color: #fbe9ba;
  --hover-color: #ffdc86;
  --background-color: #fffaf0;
  --theme-image: url('../src/images/yellow.png');
}

.theme-red {
  --accent-color: #e0a39a;
  --secondary-color: #f2c0bd;
  --hover-color: #f7b3b3;
  --background-color: #ffefef;
  --theme-image: url('../src/images/red.png');
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color, lightgray);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
